{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div id="home">
    <section id="hero-banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title wow">

                        <h2>Stronger than Ever</h2>
                        <p class="column-title">Lacking motivation to get back into the gym? Back in the gym already but feel stagnated? Or maybe you’re just looking for new inspiration for a the new year. Whatever your situation, Just..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#main-slider-->

    <section id="services">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Whats Best For You</h2>
                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus
                    vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-futbol-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Aerobic</h4>
                                <p>Aerobics is a form of physical exercise that combines rhythmic aerobic exercise with stretching and strength training routines with the goal of improving all.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Cardio</h4>
                                <p>Cardio is defined as any type of exercise that gets your heart rate up and keeps it up for a prolonged period of time.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-database"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Six Pack</h4>
                                <p>In certain sports, such as track, gymnastics or triathlon, having a low body fat percentage that shows off a six-pack is helpful because it means you have less body mass to carry as you move. In bodybuilding or figure competitions, a low body fat level and cut, six-pack abs are a must to scoring points with judges.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Classes</h4>
                                <p>We have rounded up five gym classes that will guarantee visible results while ensuring that you become a better athlete.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-paper-plane-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Special Trainer</h4>
                                <p>Personal trainers may specialize in a certain training type, training philosophy, performance type, exercise modality, or client population. In general, most personal trainers develop exercise plans for aerobic exercise, resistance exercise, and/or flexibility training.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Health Sports</h4>
                                <p>Sports have an immense impact on a person's daily life and health. They do not just give you an interesting routine but also a healthy body. Getting indulged in physical activities like sports improves your heart function, reduces the risks of diabetes, controls blood sugar and lowers tension and stress level.</p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->


    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Pricing</h2>
                <p class="wow fadeInDown">Bundle and Optional Pricing and in this example could be $1000 a week. Optional pricing is where a gym could offer a lower price, say $2000 a week and the customer would have the flexibility to select the optional add-ons they require.</p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 bg-success">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $1000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Basic
                                </div>
                            </li>
                            <li><strong>60 Mins</strong> Limited Workouts</li>
                            <li><strong>3</strong> Limited Program</li>
                            <li><strong>3 sessions</strong> Steam bath</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-primary">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $2000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Bronze
                                </div>
                            </li>
                            <li><strong>90 Mins</strong> Limited Workouts</li>
                            <li><strong>5</strong> Limited Program</li>
                            <li><strong>5 sessions</strong> Steam bath</li>
                            <li>Monthly Workout Challenge</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-danger">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        $3000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Silver
                                </div>
                            </li>
                            <li>Unlimited Workouts</li>
                            <li>Unlimited Program</li>
                            <li>Unlimited Steam bath</li>
                            <li>Monthly Workout Challenge</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 bg-warning">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                       $4000
                                    </span>
                                    <span class="duration">
                                        per month
                                    </span>
                                </div>

                                <div class="plan-name">
                                    Gold
                                </div>
                            </li>
                            <li>Unlimited Workouts</li>
                            <li>Unlimited Program</li>
                            <li>Unlimited Steam bath</li>
                            <li>Monthly Workout Challenge</li>
                            <li>Exclusive Group Training</li>
                            <li class="plan-purchase"><a class="btn btn-primary" href="#">Get It Now!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#pricing-->

    
</div>
{% endblock %}

{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

            </div>

        </div>
    </div>
</footer>
{% endblock %}